html {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
}

#rightPart {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
}

#leftPart {
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    background: linear-gradient(180deg, rgba(226,149,120,1) 0%, rgba(244,230,200,1) 100%);
}

#titre h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin-top: 3%;
}

#ajoutLieu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3E4C6;
    width: 90%;
    margin: auto;
    border-radius: 50px;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

#blocTexte {
    height: 100%;
    width: 90%;
}

p {
    font-weight: 500;
    font-size: 22px;
    margin :0;
}

#inputName {
    margin-top: 2%;
    width: 47%;
    border-radius: 20px;
    border: none;
    padding: 8px;
}

#coordonnes {
    
    display: flex;
    align-items: center;
}

#structgps {
    margin-left: 3%;
}

.inputGps {
    margin-top: 2%;
    width: 40%;
    border-radius: 20px;
    border: none;
    padding: 8px;
}

#inputColor {
    margin-top: 2%;
    width: 30%;
    border-radius: 20px;
    border: none;
    padding: 8px;
}

#btnAjoutLieu {
    float: right;
    width: 15%;
    border-radius: 20px;
    border: none;
    padding: 8px;
    background-color: #E39B7E;
    color: white;
}

#marqueur {
    margin-top: 3%;
}

#infosLieu {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: transitionIn 4s;
}

.box {
    width: 200px;
    border-radius: 20px;
    margin: 2%;
    padding: 1%;
    background-color: rgba(255,255,255,0.3);
}

.nomMonument{
    margin-top: 0;
    font-size: 98%;
    text-align: left;
}

.descriptionMonument{
    margin-top: 0;
    font-size: 70%;
    font-weight: 500;
}

.imageLieu {
    width: 100%;
    border-radius: 20px;
}

/* Animation lorsqu'on arrive / actualise la page, les informations sur les lieux apparaissent plus lentement que le reste*/

@keyframes transitionIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

/* La div qui permet d'ajouter un lieu disparaît sur un écran inférieur à 1000px pour ne pas perturber l'affichage*/


@media (max-width : 440px){
    #ajoutLieu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F3E4C6;
        width: 95%;
        margin: auto;
        border-radius: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
        
    }

    #blocTexte {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        margin-bottom: 5%;
        font-size: 20px;
    }

    #nom {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    #inputName {
        margin-top: 2%;
        width: 80%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }

    #coordonnes {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    #structgps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .inputGps {
        margin-top: 2%;
        margin-right: 2%;
        width: 40%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }

    #color {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    
    #inputColor {
        margin-top: 2%;
        width: 70%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }
    
    #btnAjoutLieu {
        float: none;
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 8px;
        background-color: #E39B7E;
        color: white;
    }
    
    #marqueur {
        margin-top: 3%;
    }


    h1 {
        font-size: 200% !important;
    }
}

@media (min-width : 440px) and (max-width : 1000px){
    #ajoutLieu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F3E4C6;
        width: 95%;
        margin: auto;
        border-radius: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
        
    }

    #blocTexte {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        margin-bottom: 5%;
    }

    #nom {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    #inputName {
        margin-top: 2%;
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }

    #coordonnes {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    #structgps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .inputGps {
        margin-top: 2%;
        margin-right: 2%;
        width: 40%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }

    #color {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    
    #inputColor {
        margin-top: 2%;
        width: 70%;
        border-radius: 20px;
        border: none;
        padding: 8px;
    }
    
    #btnAjoutLieu {
        float: none;
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 8px;
        background-color: #E39B7E;
        color: white;
    }
    
    #marqueur {
        margin-top: 3%;
    }


    h1 {
        font-size: 200% !important;
    }
}

@media (max-width : 1480px){
    #infosLieu {
        justify-content: center;
    }
}